<!-- (onValue)="searchByRegion($event)" -->
<h2>Por Región</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <!-- shared-search-box
      (onDebounce)="searchByRegion($event)"
      placeholder="Escriba el nombre del País"
    ></shared-search-box> -->
    <button
      *ngFor="let item of regionList"
      class="btn mx-2"
      [ngClass]="{ 'btn-outline-primary': selectedRegion===item}"
      (click)="searchByRegion(item)"
    >
      {{item}}
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <shared-loading-spinner
      messageLoanding="Buscando Regiones"
      *ngIf="isLoading"
    ></shared-loading-spinner>
    <countries-table
      [countries]="countries"
      paramsSearch="No se encontraron Regiones"
    ></countries-table>
  </div>
</div>